<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    {% endblock %}

    {% block extra_css %}{% endblock %}

    {% block header_js %}{% endblock %}

    <!-- A link to render the site icon in the browser tab -->
    <link rel="shortcut icon" type="image/png" href="" />

    <title>Mark McClean | {% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg mt-3 w-100 position-absolute" id="navbar">
            <a class="navbar-brand white-text ml-2" href="#">Mark McClean</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <div id="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-1 ml-auto">
                    <li class="nav-item active my-auto">
                        <a class="nav-link white-text text-lowercase mr-2 underline" href="index.html">Home</a>
                    </li>
                    <li class="nav-item my-auto">
                        <a class="nav-link white-text text-lowercase mr-2 underline" href="#">About Me</a>
                    </li>
                    <li class="nav-item my-auto">
                        <a class="nav-link white-text text-lowercase mr-2 underline" href="projects.html">Projects</a>
                    </li>
                    <li class="nav-item my-auto">
                        <a class="nav-link white-text mr-4 text-lowercase underline" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text mr-2" href="#"><i class="fab fa-2x fa-linkedin social-hover"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text mr-2" href="#"><i class="fab fa-2x fa-github social-hover"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text mr-2" href="#"><i class="fab fa-2x fa-facebook social-hover"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text mr-2" href="#"><i class="fab fa-2x fa-twitter social-hover"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- <div class="container"> -->
        {% block body %}{% endblock %}
    <!-- </div> -->

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha2/js/bootstrap.min.js"></script>
    {% block footer_js %}{% endblock %}
</body>

</html>