{% extends '_base.html' %}

{% block title %}Profile{% endblock %}

{% block body %}
<section class="hero-header-text">
    <h1 class="white-text text-uppercase">Web Developer</h1>
    <h2 class="white-text text-uppercase">Father</h2>
    <h2 class="white-text text-uppercase">Lego Lover</h2>
    <button class="callout-btn">contact me</button>
</section>
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-5 text-center mb-5">
                <img class="profile-photo" src="media/ProfilePic.png" alt="Profile Picture">
            </div>
            <div class="col-12 col-md-7 px-5">
                <h2 class="">a quick intoduction</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae mollitia, pariatur obcaecati
                    ullam maxime molestias dicta odio asperiores rem odit doloribus ad eaque et a sapiente delectus
                    labore deleniti iusto tenetur blanditiis doloremque. Laudantium aliquid fugiat quibusdam atque velit
                    dolores labore voluptate magnam! Nam repellat officia illum, corporis ducimus est quibusdam sunt
                    impedit nesciunt. Quos qui laudantium ipsa assumenda accusantium odit vel sint porro delectus, est
                    iusto quod unde repellat ratione dignissimos? Voluptatibus odit provident sequi, commodi ad itaque,
                    exercitationem debitis soluta perspiciatis aut voluptate reprehenderit asperiores quaerat! Provident
                    assumenda iste distinctio ea modi? Exercitationem quas tempora animi quasi harum?</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}