{% extends '_base.html' %}

{% block title %}Projects{% endblock %}

{% block body %}
<section class="projects-header">
    <div class="text-center">
        <h1 class="white-text text-uppercase">My Projects</h1>
    </div>
</section>

<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-4 text-center mb-5">
                <div class="card">
                    <div class="img-container">
                        <img src="media/RouteShare.png" class="card-img-top" alt="Route Share Image">
                    </div>
                    <div class="card-body ml-2 text-left pt-0">
                        <h5 class="card-title text-uppercase">Route Share</h5>
                        <p>A cycle route sharing community where users can upload, search for and save their favourite cycle routes.</p>
                        <a href="https://bicycle-route-share.herokuapp.com/" class="stretched-link text-uppercase" target="_blank">Go to website <i class="ml-2 fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 px-5">

            </div>
        </div>
    </div>
</section>
{% endblock %}